<div class="confirmation-title">
    <h4>Order Confirmed!</h4>
</div>
<div class="back-to-products">
    <a routerLink="">Close</a>
</div>    
<div class="split-container"> 
    <div class="left-panel"> 
        <div>  
            <app-confirmation-item class="confirmation-container" *ngFor="let orderItem of orderItems" [orderItem]="orderItem"></app-confirmation-item>
        </div>  
        <div class="order-total-container"> 
            <div class="order-total">  
                Total: ${{ total }}
            </div>    
        </div>
    </div>

    <div class="right-panel">
        <div class="customer-name">
            {{ getCustomerName() }}
        </div>  
        <div class="customer-address-and-creditcard">
            {{ getCustomerAddress() }}
        </div>  
        <div class="customer-address-and-creditcard">
            Credit card:  ************{{ getCustomerCard() }}
        </div>  
    </div>
</div>















