  .confirmation-title {
    width: 100%;
    text-align: center;
    margin-top: 48px;
  }

  .order-total-container {
    display: flex;
    flex-direction: row;
  }

  .order-total {
    text-align: center;
    margin-top: 24px;
    margin-left: 40px;
    width: 100%;
    bottom: 0px;
    font-size: larger;
    font-weight: bold;
    margin-bottom: 24px;
  } 

  .confirmation-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 24px; 
    width: 100%
  }

  .left-panel {
    width: 50%;
    left: 0;
    position: relative;
    height: 100%;
    margin-left: 200px;
  }

  .right-panel {
    width: 50%;
    right: 0;
    position: relative;
    height: 100%;
    margin-left: 36px;
  }

  .split-container {
    display: flex;
  }

  .customer-address-and-creditcard {
    font-size: large;
    margin-top: 4px;
    margin-bottom: 4px;
  }
  
  .customer-name {
    margin-top: 24px;
    font-size: large;
  }