.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
  margin-top: 4px;
}

.cart-item-details {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: left;
  margin-left: 40px;
}

img {
  width: 100px;
  border-radius: 10px;
}

h6 {
  margin-bottom: 18px;
}

.item-name {
  margin-top: 12px;
}

.quantity-input {
  margin-top: -0.5em;
  text-align: center;
}

.quantity-label {
  font-size: small;
  font-weight: bold;
  margin-bottom: 12px;
  margin-right: 6px;
}

.remove {
  font-size: small;
  text-decoration: underline;
  text-decoration-color: dodgerblue;
}
























